/arduino/homeControl.sdf
/arduino/homeControl.v11.suo
/arduino/homeControl.vcxproj.user
/project/Debug
/project/ipch
/common/proj.win32/Debug
/project/client/Debug
/project/client/client.vcxproj.user
/project/win.v11.suo
/project/win.sdf
/project/win.opensdf
/arduino/Debug
/common/proj.win32/*.sdf
/common/proj.win32/*.suo
/arduino/*.opensdf
*.o
/arduino/ipch/client-c3f55ed5/*.ipch
