/arduino/homeControl.sdf
/arduino/homeControl.v11.suo
/arduino/homeControl.vcxproj.user
/project/Debug
/project/ipch
/common/proj.win32/Debug
/project/client/Debug
/project/client/client.vcxproj.user
/project/win.v11.suo
/project/win.sdf
/project/win.opensdf
/arduino/Debug
